In [5]:
#Importação dos pacotes

import pandas as pd

In [7]:
#Atribuindo base dados à uma variável

db = pd.read_csv('pizzas.csv')
db

    diametro  preco
0         20     50
1         22     55
2         24     60
3         26     65
4         28     70
5         30     75
6         32     80
7         34     85
8         36     90
9         38     95
10        40    100